@model IEnumerable<LCPStore.Models.Product>


<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
    <div class="row" id="tbody">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        @*<div class="tag-sale">ON SALE</div>*@
                        <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id">
                            @if (product.Image != null)
                            {
                                String img = Convert.ToBase64String(product.Image);
                                <img src="data:image/png;base64,@img" alt="@Html.DisplayFor(model => product.Name)">
                            }
                            else
                            {
                                <img src="~/img/single-product/1.jpg" alt="@Html.DisplayFor(model => product.Name)">
                            }
                        </a>
                        <div class="pi-links" id="@product.Id">
                            <a class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            @*<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>*@
                        </div>
                    </div>
                    <div class="pi-text">
                        <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id">
                            <h6>$@Html.DisplayFor(model => product.Price),00</h6>
                            <p>@Html.DisplayFor(model => product.Name)</p>
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="text-center w-100 pt-3">
            <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        </div>
    </div>
</div>

<!-- Category section end -->
