@model IEnumerable<LCPStore.Models.Contact>


<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Contacts table</h3>
        @{ if (ViewBag.Show == "true")
            {
                <div class="table-data__tool">
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="location.href='@Url.Action("ContactCreate", "AdminPanels")'">
                            <i class="zmdi zmdi-plus"></i>add Contact
                        </button>
                    </div>
                </div>
            }
        }
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Subject)</th>
                        <th>@Html.DisplayNameFor(model => model.Body)</th>
                        @*<th>@Html.DisplayNameFor(model => model.Created)</th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <span class="block-email">@Html.DisplayFor(modelItem => item.Email)</span>
                            </td>
                            <td class="desc">@Html.DisplayFor(modelItem => item.Subject)</td>
                            <td>@Html.DisplayFor(modelItem => item.Body)</td>
                            @*<td>
                                <span class="status--process">@Html.DisplayFor(modelItem => item.Created)</span>
                            </td>*@
                            <td>
                                <div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" onclick="location.href='@Url.Action("ContactEdit", "AdminPanels", new { item.Id })'">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="location.href='@Url.Action("ContactDelete", "AdminPanels", new { item.Id })'">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Details" onclick="location.href='@Url.Action("ContactDetails", "AdminPanels", new { item.Id })'">
                                        <i class="zmdi zmdi-more"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
